# This script just gets the data into a format that I can use it.

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("all_years.csv")

In [3]:
data.head()

   YEAR            NAME   AGE  ASCENT  TOTAL
0  1976   RICK TRUJILLO  28.0   2.165  3.571
1  1976   TED CASTANEDA  24.0   2.351  3.893
2  1976  ROBERT BUNNELL  25.0   2.438  3.917
3  1976  MACLEAN WILSON  18.0   2.388  3.968
4  1976     MIKE HARRIE  21.0   2.382  3.993

In [8]:
data = data[data['AGE'] > 10]

In [9]:
data = data[data['TOTAL'] > 2]

In [10]:
len(data)

19076

In [15]:
data.to_csv("all_data.csv", index = False)

In [12]:
data[data['TOTAL'] < 2]

Empty DataFrame
Columns: [YEAR, NAME, AGE, ASCENT, TOTAL]
Index: []

In [13]:
pwd

u'C:\\Users\\Admin\\Dropbox\\Udacity\\DataAnalystNanoDegree\\d3project'

# Just doing some manipulation of the data

In [5]:
import pandas as pd
import numpy as np
data = pd.read_csv("all_data.csv")

In [6]:
data.head()

   YEAR            NAME   AGE  ASCENT  TOTAL
0  1976   RICK TRUJILLO  28.0   2.165  3.571
1  1976   TED CASTANEDA  24.0   2.351  3.893
2  1976  ROBERT BUNNELL  25.0   2.438  3.917
3  1976  MACLEAN WILSON  18.0   2.388  3.968
4  1976     MIKE HARRIE  21.0   2.382  3.993

In [14]:
avg_n_count = pd.DataFrame()
year_age_avg = []
year_avg = []
year_age_count = []
age_min = min(data["AGE"])
age_max = max(data["AGE"])
age_range = range(int(age_min), int(age_max))
for year in range(1977,2017):
    temp_subset = data[data["YEAR"] == year]
    for age in age_range:
        age_avg_time = np.mean(temp_subset[temp_subset["AGE"] == age]["TOTAL"])
        count = len(temp_subset[temp_subset["AGE"] == age])
        year_age_avg = year_age_avg + [[year, age, count, age_avg_time]]
year_age_avg = np.array(year_age_avg)
age_n_count = pd.DataFrame({"YEAR": year_age_avg[:,0], "AGE": year_age_avg[:,1], 
                            "COUNT": year_age_avg[:,2], "TIME": year_age_avg[:,3]})

In [15]:
age_n_count.head()

    AGE  COUNT    TIME    YEAR
0  12.0    0.0     NaN  1977.0
1  13.0    0.0     NaN  1977.0
2  14.0    0.0     NaN  1977.0
3  15.0    1.0  6.0810  1977.0
4  16.0    2.0  5.3385  1977.0

In [21]:
age_n_count.to_csv("PP_age_summary.csv", index = False)

In [19]:
age_n_count = age_n_count.dropna()

In [24]:
age_n_count.head()

    AGE  COUNT      TIME    YEAR
0  15.0    1.0  6.081000  1977.0
1  16.0    2.0  5.338500  1977.0
2  17.0    4.0  5.426750  1977.0
3  18.0    3.0  5.610333  1977.0
4  19.0    2.0  5.781000  1977.0

In [23]:
age_n_count = pd.read_csv("PP_age_summary.csv")

# Now going to make bins for the "age groups" that are in increments of 5 years

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("PP_age_summary.csv")

In [3]:
data.head()

    AGE  COUNT      TIME    YEAR
0  15.0    1.0  6.081000  1977.0
1  16.0    2.0  5.338500  1977.0
2  17.0    4.0  5.426750  1977.0
3  18.0    3.0  5.610333  1977.0
4  19.0    2.0  5.781000  1977.0

In [4]:
data["total_time"] = data['COUNT'] * data['TIME']

In [5]:
age_group_df = []

In [6]:
min(data["AGE"])

12.0

In [12]:
age_groups = range(10,80,5)

In [13]:
#Quick code check
data_sub = data[data['YEAR'] == 2009]
sum(data_sub[(data_sub['AGE'] <=30) & (data_sub['AGE'] > 25)]['COUNT'])

48.0

In [14]:
age_gp_count_list = []
age_gp_avg_time_list = []
age_gp_list = []
year_list = []

for year in list(set(data["YEAR"])):
    data_sub = data[data['YEAR'] == year]
    for ii in age_groups:
        age_gp_count = sum(data[(data['YEAR'] == year) & (data['AGE'] >= ii) & \
                                    (data['AGE'] < ii + 5)]['COUNT'])
        if age_gp_count > 0:
            age_gp_avg_time = sum(data[(data['YEAR'] == year) & (data['AGE'] >= ii) & \
                                    (data['AGE'] < ii + 5)]['total_time']) / age_gp_count 
        else:
            age_gp_avg_time = float("nan")
            

        age_gp_count_list = age_gp_count_list + [age_gp_count]
        age_gp_avg_time_list = age_gp_avg_time_list + [age_gp_avg_time]
        year_list = year_list + [year]
        age_gp_list = age_gp_list + [ii]

In [15]:
age_summary_df = pd.DataFrame({"YEAR": year_list, "AGE_GROUP": age_gp_list, \
                               "AGE_GROUP_COUNT":age_gp_count_list, 
                               "AGE_GROUP_AVG_TIME":age_gp_avg_time_list})

In [16]:
age_summary_df.head()

   AGE_GROUP  AGE_GROUP_AVG_TIME  AGE_GROUP_COUNT    YEAR
0         10                 NaN              0.0  1977.0
1         15            5.571500             12.0  1977.0
2         20            5.842632             38.0  1977.0
3         25            5.794080             50.0  1977.0
4         30            5.900243             37.0  1977.0

In [17]:
age_summary_df.to_csv("age_summary.csv", index=False)

In [18]:
loaded = pd.read_csv("age_summary.csv")

In [19]:
loaded.head()

   AGE_GROUP  AGE_GROUP_AVG_TIME  AGE_GROUP_COUNT    YEAR
0         10                 NaN              0.0  1977.0
1         15            5.571500             12.0  1977.0
2         20            5.842632             38.0  1977.0
3         25            5.794080             50.0  1977.0
4         30            5.900243             37.0  1977.0